<div class="container">
    <h1>Graficos dinamicos <small>Angular</small></h1>
    <hr>
    <!-- <app-linea></app-linea> -->
    <!-- <app-barra></app-barra> -->
    <!-- <app-dona></app-dona> -->
    <app-radar></app-radar>
</div>