<div class="row">
    <div class="col-md-8">
        <div style="display: block">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
        </canvas>
        </div>
    </div>
</div>

<div class="col-md-4">
    <button type="button" class="btn btn-primary btn-block" (click)="numeros_randon()">Actualizar</button>
</div>